body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);

}
.calculator{
    font-family: arial,sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 450px;
    overflow: hidden;
}     
#result{
    width: 100%;
    height: 70px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 30%);
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
 
}
button:active{
    background-color: hsl(0, 0%, 50%);

}
.opt{
    background-color: hsl(35, 100%, 55%);

}
.opt:hover{
    background-color: hsl(35, 100%, 65%);

}
.opt:active{
    background-color: hsl(35, 100%, 75%);

}
.opt1{
    background-color: hsl(0, 3%, 57%);

}
.opt1:hover{
    background-color: hsl(0, 0%, 60%);

}
.opt1:active{
    background-color: hsl(0, 4%, 70%);

}